

<div class="jumbotron restaurantcontainer">

<div class="row">
<div class="col-md-4">

<div class="restaurantinfo">
<h2>
	<%= @restaurant.name %>
</h2>
<!-- Showing AVERAGE star rating for this restaurant!-->
<div class="star-rating" data-score= <%= @avg_rating %> ></div>
<!-- This time instead of review.rating, we'll use the @avg_rating variable we JUST defined in the RestaurantsController show action!-->


<!--The AVG star rating means little without knowing the total # of reviews, so...-->
<p>Average rating, <%= "#{@reviews.length} total reviews" %></p>


<!--#{} is a special feature of rails called string interpolation.  Ruby code inside curly braces will be calculated and then placed on the page as text.-->


<%= image_tag @restaurant.image_url %>





<p>
  <h4><strong>Address:</strong></h4>
  <%= @restaurant.address %>
</p>

<p>
  <h4><strong>Phone:</strong></h4>
  <%= @restaurant.phone %>
</p>

<p>
  <h4><strong>Website:</strong></h4>
  <%= link_to @restaurant.website, @restaurant.website %>
</p>






<% if user_signed_in? && current_user.admin? %>
	<%= link_to edit_restaurant_path(@restaurant), class: "btn btn-primary" do %>
		<span class="glyphicon glyphicon-edit"></span> <span> </span> Edit Restaurant
	<% end %>	
<% end %>







<br/>
<%= link_to new_restaurant_review_path(@restaurant), class: "btn btn-primary writeareviewbutton" do %>
	<span class="glyphicon glyphicon-pencil"></span> Write a Review
<% end %>

 
<br/>




</div><!--END .restaurantinfo-->

<br/>
<!--a class="btn btn-primary backbutton2" href="/restaurants"><span class="glyphicon glyphicon-arrow-left"></span><span class="glyphicon glyphicon-arrow-left"></span> Back</a-->
<% if user_signed_in? && current_user.admin? %>
	<%= link_to @restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger deletebutton" do %>
		<span class="glyphicon glyphicon-remove-sign"></span>  Delete Restaurant
	<% end %>
<% end %> 

<br>

<%= link_to  restaurants_path, class: "btn btn-primary backbutton" do %>
	<span class="glyphicon glyphicon-circle-arrow-left"></span>  Back to Index
<% end %>



</div><!--END col-md-4 -->
<div class="col-md-8">


<!--	WANT TO ADD GLYPHICONS TO BUTTONS  -->



<!--    REVIEWS SECTION    -->

<div class="reviewscontainer">
<h2>Reviews</h2>

<!--		NOT SURE IF I'LL KEEP THE TABLE.. NOT WORKING WELL.  -->

<% if @reviews.blank? %>
	<h3>No reviews yet.  Be the first to write one!</h3>
<% else %>  

<!--**************************************************************************8-->
<!--    ***  Now we want to place our Reviews in a Table format! ***    -->
<div class="container panel-body table-responsive">
<table class="table table-condensed">

<!--	*********** SEPARATE TABLE INTO 2 COLUMNS ALSO! *********-->
<!--<thead>
	<tr>
		<th class="col-md-3"></th>
		<th class="col-md-9"></th>-->
		<!--****************************IMPORTANT!!!!!********************-->
		<!--Keep in mind that these grids are SMALLER than the others because they are nested inside the table, NOT the full width of our page!  Bootstrap allows you to create grid layouts WITHIN grid layouts!-->
	<!--</tr>
</thead>-->


<tbody>
	<% @reviews.each do |review| %>
		<tr>
			<td>
				<h4>
					<%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
				</h4>
				<p><%= review.created_at.strftime("%-m/%-d/%-y") %></p>



				<div class="star-rating" data-score= <%= review.rating %> ></div>
				<p class="reviewtext"><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %>
					
				
<!--			Check to see if review author signed in, or admin........-->

<!--	If so, give them links to edit or destroy the review.........-->
			
				<% if user_signed_in? %>
					<% if (review.user == current_user) || (current_user.admin?) %><br>
						<%= link_to "Edit your review", edit_restaurant_review_path(@restaurant, review) %> | 
						<%= link_to "Delete", restaurant_review_path(@restaurant, review), method: :delete %>
					<% end %>
				<% end %>
					</p>


			</td>
		</tr>

	<% end %>
	</tbody>
	</table>
<!--**************************************************************************8-->



<% end %>

</div>
</div>


</div><!--END col-md-8 -->
</div><!--END .row-->


</div>


<script> //DISPLAY OUR STAR RATING SYSTEM ON OUR .star-rating DIV ABOVE!!!
	
//declare our Amazon s3 star images path
	$('.star-rating').raty({path: 'https://s3.amazonaws.com/pulaski-restaurant-review/stars', 
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
	}});



	//$('.star-rating').raty();
</script>