<div class="jumbotron tablecontainer">
<%= form_for([@restaurant, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!--REPLACE SECTION FOR RATING WITH STARS!-->
  <h3>Rate this restaurant!</h3>
  <h5>(click the number of stars you want to give this restaurant)</h5>
  <div id="star-rating"></div>
  <div class="form-group field">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: "form-control" %>
  </div>
  <div class="form-group actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
</div>


<script> //DISPLAY OUR STAR RATING SYSTEM ON OUR .star-rating DIV ABOVE!!!
  
//declare our Amazon s3 star images path
  $('#star-rating').raty({
    path: 'https://s3.amazonaws.com/pulaski-restaurant-review/stars',
    scoreName: 'review[rating]'
  });
</script>